.pokemon_page {
    background-color: rgba(0, 0, 0, 0.76);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: default;
}

/* .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
} */

.pokemon_page_content {
    max-width: 500px;
    height: 750px;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 30px auto;
    border-radius: 20px;
    padding: 50px 30px;
    background-image: url(../img/background_patter.png);
    background-blend-mode: soft-light;
}

.pokemon_page_content::-webkit-scrollbar {
    display: none;
}
.pokemon_page_content::-moz-scrollbar {
    display: none;
}

@media screen and (max-width: 450px){
    .pokemon_page_content{
        margin: 3px 3px;   
    }
}

.pokemon_page_content .poke_image {
    /* background-color: #fff; */
    margin-top: -40px;
    text-align: center;
}

.pokemon_page_content .poke_image img {
    max-width: 100%;
    max-height: 350px;
    filter: drop-shadow(0px 2px 1px #3333339c);
}

.pokemon_page_header .interaction_header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.interaction_header .material-symbols-outlined {
    color: #fff;
    cursor: pointer;
}

.pokemon_page_header .interaction_header .number {
    font-size: 1.5em;
    opacity: .6;
    color: #fff;
}

.pokemon_page_header .name {
    font-family: 'Oxanium';
    font-weight: 600;
    text-shadow: 1px 1px 1px #333;
    font-size: 2rem;
}

.pokemon_page_id .poke_types{
    display: flex;
    list-style: none;
    margin-top: 10px;
    gap: 7px;
}

.pokemon_page_id .poke_types li{
    width: fit-content;
    text-align: center;
    font-size: .7rem;
    list-style: none;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.274);
    padding: .4rem .8rem;
    margin: .25rem 0;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.356);
}

.poke_details {
    margin: -50px 0px -50px -30px;
    background-color: #ffffff;
    border-radius: 20px;
    width: calc( 100% + 60px);
    height: auto;
    padding: 40px 40px 40px 30px;
}

.poke_details h2 {
    font-family: 'Oxanium', Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 40px;
    text-decoration: underline rgb(104, 103, 103);
    text-underline-offset: 5px;
}

.poke_details .poke_status_list {
    list-style: none;
}

.poke_status_list li {
    /* display: flex;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: 10% 80% 10%;
    align-items: center;
    gap: 5px;
    font-size: .9em;
    margin-bottom: 8px;
}

.poke_status_list .barra_externa {
    background-color: rgba(145, 145, 145, 0.425);
    width: 100% ;
    height: 10px;
    border-radius: 10px;
}

.poke_status_list .barra_interna {
    /* background-color: #808080; */
    height: 100%;
    border-radius: 20px;
    padding: 2px 8px 2px 0px;
    filter: brightness(1.1);
}

.poke_status_list .barra_interna .efeito_interno {
    background-color: #fff;
    width: 100%;
    height: 1px;
    border-radius: 20px;
    box-shadow: 1px 2px 3px #fff;
}

.poke_details .about_details{
    margin-top: 40px;
}

.poke_details .caracteristic_list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.poke_details .caracteristic_list li{
    display: grid;
    grid-template-columns: 20% 100%;
}

@media screen and (max-width: 500px){
    .poke_details .caracteristic_list li {
        grid-template-columns: 26% 100%;
    }
}
@media screen and (max-width: 400px){
    .poke_details .caracteristic_list li {
        grid-template-columns: 30% 100%;
    }
}
@media screen and (max-width: 360px){
    .poke_details .caracteristic_list li {
        grid-template-columns: 40% 100%;
    }
}

.poke_details .caracteristic_list .li_genders{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    font-weight: light;
}
.poke_details .caracteristic_list .gender_list {
    display: flex;
    align-items: center;
    gap: 5px;
}

.poke_details .caracteristic_list .gender_f {
    color: #e05169;
}
.poke_details .caracteristic_list .gender_m {
    color: #0000ff;
}

.poke_details .caracteristic_list .caracteristic_name {
    font-weight: light;
    margin-right: 25px;
}

.poke_details .caracteristic_list .caracteristc_number {
    font-size: 16px;
    margin-right: 5px;
    color: #4d4d4d;
}

.poke_details .caracteristic_list .habitat_name {
    font-family: 'Oxanium';
    font-weight: 500;
    text-transform: capitalize;
}

.poke_details .caracteristic_list li aside {
    display: inline;
    font-size: 14px;
    color: #4d4d4d;
}

.poke_details .caracteristic_list .undefined {
    display: none;
}

.poke_details .abilities_details {
    margin-top: 40px;
}

.poke_details .abilities_list {
    list-style:  none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
}

.poke_details .abilities_list li {
    font-family: 'Oxanium', Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    color: rgb(68, 68, 68);
    font-size: 1rem;
    list-style: none;
    padding: 8px 10px;
    margin: .25rem 0;
    border: 1px solid rgba(255, 255, 255, 0.267);
    border-radius: 1rem;
    box-shadow: -1px 1.5px #0000005b;
}

@media screen and (max-width: 495px){
    
    .pokemon_page_content {
        border-radius: 0px;
        width: 100%;
        height: 100vh;
        margin: 0;        
    }

    .poke_details {
        border-radius: 20px 20px 0px 0px;
        height: 100%;
    }
}

@media screen and (max-height: 750px) {
    .poke_details .abilities_list {
        list-style:  none;
        display: flex;
        flex-wrap: wrap;
        gap: 4px;
    }
}